@import "common/common";
@import "common/colors";
@import "common/fonts";
@import "blocks/header-page";
@import "blocks/header-search";
@import "blocks/content-page";
@import "blocks/content-page-nav";
@import "blocks/nav-link";
@import "blocks/content-block";
@import "blocks/content-more";
@import "blocks/footer-page";
@import "blocks/footer-first-block";
@import "blocks/footer-search";
@import "blocks/footer-second-block";
@import "blocks/footer-third-block";


@media (max-width:980px) {
  .content-page-nav, .footer-first-block__left,
  .footer-second-block__left, .footer-third-block__left {
    display:none;
  }
  .content-page__content, .footer-first-block__center,
  .footer-second-block__center, .footer-third-block__center {
    flex: 4.5;
  }
  .content-page__aside {
    flex: 1.5;
  }
}