/* Common */
@import "common/colors";
@import "common/common";
@import "common/fonts";

/* Blocks */
@import "blocks/content/content-block";
@import "blocks/content/content-more";
@import "blocks/content/content-page";
@import "blocks/content/content-page-nav";

@import "blocks/footer/footer-first-block";
@import "blocks/footer/footer-page";
@import "blocks/footer/footer-search";
@import "blocks/footer/footer-second-block";
@import "blocks/footer/footer-third-block";

@import "blocks/header/header-logo";
@import "blocks/header/header-page";
@import "blocks/header/header-search";

@import "blocks/nav-link";

/* Media */
@media (max-width:980px) {
  .content-page-nav, .footer-first-block__left,
  .footer-second-block__left, .footer-third-block__left {
    display:none;
  }
  .content-page__content, .footer-first-block__center,
  .footer-second-block__center, .footer-third-block__center {
    flex: 4.5;
  }
  .content-page__aside {
    flex: 1.5;
  }
}