.header-logo {
    height: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__icon {
        width: 35px;
        height: 35px;
        fill: @color__light-gray;
        margin-left: 4%;
    }
    &__icon-text {
        height: 30px;
        text-decoration: none;
        color: @color__black;
        margin-left: 4%;
    }
}