.content-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 46%;
    width: 100%;
    min-width: 350px;
    margin: 2%;
    background-color: white;

    &__image {
        width: 100%;
        height: 100%;
    }

    &__header {
        padding: 8%;

        &-link {
            font-weight: bold;
            color: @color__black-68;
            text-decoration: none;

            &:hover {
                color: @color__blue
            }
        }
    }

    &__author {
        background: rgba(0, 0, 0, 0.05);

        &-hashtag {
            padding-left: 8%;
            color: @color__blue;
            text-decoration: none;

            &:hover {
                color: @color__black-68;
            }
        }

        &-link {
            color: @color__blue;
            text-decoration: none;

            &:hover {
                color: @color__black;
            }
        }
    }

    &__text {
        padding: 8%;

        &-paragraph-link {
            color: @color__blue;
            text-decoration: none;

            &:hover {
                color: @color__black;
            }
        }
    }

    &__hashtags {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        width: 92%;
        padding-left: 8%;
        background: @color__white-gray;

        &-icon {
            width: 5%;
            height: 5%;
            padding: 2%;
            fill: @color__black-68;
        }

        &-single {
            margin-left: 4%;
            font-size: 80%;
            font-weight: bold;
            color: @color__light-gray;
            text-decoration: none;

            &:hover {
                color: @color__blue-lighter;
            }
        }
    }
}